<link href="http://codepen.io/edbond88/pen/CcgvA.css" media="screen" rel="stylesheet" type="text/css">
<style>
    body {
        background: rgba(222, 222, 222, 1);
        margin: 20px;
    }
</style>

<h1>Django Note Taking App</h1>

<!-- Notes Display List-->
{% if notes %}
    <ul>
        {% for note in notes.all %}
            <li>
                {{ note.text }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


<!-- Notes Add Form-->
<form action="/notes/" method="POST"> {% csrf_token %}
    <label for="new_text">Input Text (New Note): </label>
    <input id="new_text" type="text" name="new_text" value="{{ text }}">
    <input type="submit" value="OK">
</form>